<ul class="usuario-barra-sup">
    <li class="usuario-img">
        <img src="{{img_usuario}}" width="100" height="100" alt="img_error">
    </li>
    <li class="usuario-info">
        <h2>Elias Jesus Rendon Calvario</h2>
        <h3 class="separacion">Acerca de mi</h3>
        <p>Estudiante universitario de quinto semestre perteneciente a la Universidad Veracruzana.</p>
    </li>
    <li class="usuario-contacto">
        <ul class="usuario-contacto-lista">
            <li>jesss635000&#64;gmail.com</li>
            <li>2731177596</li>
            <li>Orizaba, Veracruz</li>
        </ul>
    </li>
</ul>