<div class="cv-sup cv-common">
    <app-header></app-header>
</div>

<div class="cv-contenido cv-common">
    <!-- <app-work-experience class="common-space"></app-work-experience>
    <app-education class="common-space"></app-education>
    <app-skills class="common-space"></app-skills>
    <app-languages class="common-space"></app-languages>
    <app-interests class="common-space"></app-interests>
    <app-achievements class="common-space" style="border-bottom: none;"></app-achievements> -->
</div>